.idea
/Java/HolaMundo/nbproject/private/
/Java/HolaMundo/build/
/Java/Ejercicio 1/nbproject/private/
/Java/Ejercicio 1/build/
/Java/Ejercicio asdawdawd/nbproject/private/
/Java/Ejercicio3/nbproject/private/
/Java/Ejercicio3/build/
/Java/Ejercicio2/nbproject/private/
/Java/Ejercicio1/nbproject/private/
/Java/Ejercicio2/build/
/Java/Ejercicio4/nbproject/private/
/Java/Ejercicio4/build/
/Java/Ejercicio5/nbproject/private/
/Java/Ejercicio5/build/
/Java/Ejercicio 6/nbproject/private/
/Java/Ejercicio 6/build/
/Java/Ejercicio7/nbproject/private/
/Java/Ejercicio6/nbproject/private/
/Java/Ejercicio7/build/
/Java/Clase_2/nbproject/private/
/Java/Leccion_2/nbproject/private/
/Java/Leccion_2/build/
/Java/Condicional/nbproject/private/
/Java/Condicional/build/
/Java/Condicional_Ejercicio_1/nbproject/private/
/Java/Condicional_Ejercicio_2/nbproject/private/
/Java/Condicional_Ejercicio_2/build/
/Java/Condicional_Ejercicio_3/nbproject/private/
/Java/Condicional_Ejercicio_3/build/
/Java/Condicional_Ejercicio_4/nbproject/private/
/Java/Condicional_Ejercicio_4/build/
/Java/Condicional_Ejercicio_5/nbproject/private/
/Java/Condicional_Ejercicio_5/build/
/Java/Condicional_Ejercicio_6/nbproject/private/
/Java/Condicional_Ejercicio_6/build/
/Java/Clase_10_Ejercicio_1/nbproject/private/
/Java/Clase_10_Ejercicio_1/build/
/Java/Clase_10_Ejercicio_3/nbproject/private/
/Java/Clase_10_Ejercicio_3/build/
